<div class="sidebar-menu">
    <ul class="list-unstyled">
        <li>
            <a href="#">
                <i class="bi bi-people-fill"></i> Visitors 
                <i class="bi bi-chevron-right" style="float: right;"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-cart-dash-fill"></i> Sales
                <i class="bi bi-chevron-right" style="float: right;"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-list-task"></i> Catalog
                <i class="bi bi-chevron-right" style="float: right;"></i>
            </a>
        </li>
        <li><a href="#"><i class="bi bi-wechat"></i> Reviews</a></li>
        <li><a href="#"><i class="bi bi-gear-fill"></i> Configuration</a></li>
    </ul>
</div>