.sidebar-menu ul li a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
    /* margin-left: 15px; */
}
.sidebar-menu ul li :hover {
    background-color: #ccc;
}