<app-navbar></app-navbar>
<div class="container p-4 pt-0 mt-4 text-center">
    <br/>
    <h3>Welcome to the Ultimate Quiz Challenge! 🎉</h3>
    <p>Create your own quiz cards, attend exciting quizzes, and track your progress on the scoreboard. 
        <br/>Test your knowledge, challenge your friends, and climb to the top of the leaderboard.</p>
    <div class="row" style="margin-top: 100px;">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <i class="bi bi-database-fill-add" style="font-size: 46px; color: #F49291"></i>
              <h5 class="card-title">Create Quiz</h5>
              <p class="card-text">Create your own quiz! Add a question, set the answers, and start testing your knowledge.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <i class="bi bi-pencil-fill" style="font-size: 46px; color: #F49291"></i>
              <h5 class="card-title">Attend Quiz</h5>
              <p class="card-text">Join a quiz and test your knowledge! Answer questions and see how well you score.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <i class="bi bi-mortarboard-fill" style="font-size: 46px; color: #F49291"></i>
              <h5 class="card-title">Scoreboard</h5>
              <p class="card-text">Check the scoreboard! See your ranking and track your progress.</p>
            </div>
          </div>
        </div>
    </div>
    <a href="/quiz" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-top: 50px;">Explore More <i class="bi bi-arrow-right"></i></a>
</div>
