<!-- dashboard top alert -->
<div class="alert alert-info alert-dismissible fade show w-100" role="alert">
  Welcome to the ng-admin demo! Feel free to explore and modify the data - it's local to your computer,
  and will reset each time you reload.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- dashboard top cards -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-body text-bg-primary">
          <h5 class="card-title float-start" style="font-size: 72px;"><i class="bi bi-currency-dollar"></i></h5>
          <div class="text-end float-end">
            <p style="font-size: 42px;font-weight: 400;">0</p>
            <p class="card-text">Monthly revenue</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-primary text-primary">
          View Details
          <i class="bi bi-arrow-right-circle-fill float-end"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-body text-bg-success">
          <h5 class="card-title float-start" style="font-size: 72px;"><i class="bi bi-cart-dash-fill"></i></h5>
          <div class="text-end float-end">
            <p style="font-size: 42px;font-weight: 400;">0</p>
            <p class="card-text">Pending orders</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-success text-success">
          View Details
          <i class="bi bi-arrow-right-circle-fill float-end"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-body text-bg-warning text-white">
          <h5 class="card-title float-start" style="font-size: 72px;"><i class="bi bi-wechat"></i></h5>
          <div class="text-end float-end">
            <p style="font-size: 42px;font-weight: 400;">68</p>
            <p class="card-text">Pending reviews</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-warning text-warning">
          View Details
          <i class="bi bi-arrow-right-circle-fill float-end"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-body text-bg-danger">
          <h5 class="card-title float-start" style="font-size: 72px;"><i class="bi bi-person-fill-add"></i></h5>
          <div class="text-end float-end">
            <p style="font-size: 42px;font-weight: 400;">0</p>
            <p class="card-text">New customers</p>
          </div>
        </div>
        <div class="card-footer bg-transparent border-danger text-danger">
          View Details
          <i class="bi bi-arrow-right-circle-fill float-end"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- data table side by side -->
 <div class="d-flex">
  <app-pending-orders></app-pending-orders>
  <app-latest-reviews></app-latest-reviews>
</div>

