<div class="container mt-4">
    <h4>Latest Reviews</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Billy Smith</td><td>bu-k1lb8-R</td><td>⭐⭐⭐</td></tr>
            <tr><td>Edward Perry</td><td>te-gpe6t-B</td><td>⭐⭐</td></tr>
            <tr><td>Wesley Summers</td><td>bu-kp5nb-W</td><td>⭐⭐⭐⭐⭐</td></tr>
            <tr><td>Lelia Webb</td><td>ni-9z2br-E</td><td>⭐⭐⭐⭐</td></tr>
            <tr><td>Jerry Douglas</td><td>te-kppnb-Z</td><td>⭐</td></tr>
            <tr><td>Erik Curtis</td><td>an-9x79z-E</td><td>⭐⭐⭐⭐⭐</td></tr>
            <tr><td>Adrian Palmer</td><td>fa-z9rmm-T</td><td>⭐⭐⭐⭐⭐</td></tr>
            <tr><td>Lora Morrison</td><td>fo-xw9ff-X</td><td>⭐⭐⭐⭐⭐</td></tr>
            <tr><td>Violet Lopez</td><td>bu-1icfV-C</td><td>⭐⭐⭐⭐⭐</td></tr>
        </tbody>
    </table>
</div>