<div class="container mt-4">

  {{ localApiData }}

  <h4 class="text-left">Teachers' List:</h4>

  <!-- Modal -->
  <div class="modal fade" id="teacherModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Add Teacher</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (submit)="saveTeacher()">
          <div class="modal-body">
            <!-- Name -->
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Name" [(ngModel)]="newTeacher.name" name="name" required>
            </div>
            
            <!-- School Name -->
            <div class="mb-3">
              <label for="schoolName" class="form-label">School Name</label>
              <input type="text" class="form-control" id="schoolName" placeholder="Enter School Name" [(ngModel)]="newTeacher.schoolName" name="schoolName" required>
            </div>
            
            <!-- Assigned Subject -->
            <div class="mb-3">
              <label for="assignedSubject" class="form-label">Assigned Subject</label>
              <input type="text" class="form-control" id="assignedSubject" placeholder="Enter Assigned Subject" [(ngModel)]="newTeacher.assignedSubject" name="assignedSubject" required>
            </div>
            
            <!-- Salary -->
            <div class="mb-3">
              <label for="salary" class="form-label">Salary</label>
              <input type="number" class="form-control" id="salary" placeholder="Enter Salary" [(ngModel)]="newTeacher.salary" name="salary" required>
            </div>
            
            <!-- Joining Date -->
            <div class="mb-3">
              <label for="joiningDate" class="form-label">Joining Date</label>
              <input type="date" class="form-control" id="joiningDate" [(ngModel)]="newTeacher.joiningDate" name="joiningDate" required>
            </div>
            
            <!-- Head Teacher -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="isHeadTeacher" [(ngModel)]="newTeacher.isHeadTeacher" name="isHeadTeacher" required>
              <label class="form-check-label" for="isHeadTeacher">Is Head Teacher?</label>
            </div>
            
            <!-- Aggressive -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="isAggressive" [(ngModel)]="newTeacher.isAggressive" name="isAggressive" required>
              <label class="form-check-label" for="isAggressive">Is Aggressive?</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update' : 'Save' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
      <thead class="table-dark">
          <tr>
              <!-- <th>#</th> -->
              <th>ID</th>
              <th>Name</th>
              <th>School</th>
              <th>Subject</th>
              <th>Salary</th>
              <th>Join Date</th>
              <th>Head Teacher</th>
              <th>Aggressive</th>
              <th>Options</th>
          </tr>
      </thead>
      <tbody>
          @for (teacher of teachers; track teacher) {
              <tr>
                  <!-- <td>{{ teachers.indexOf(teacher) + 1 }}</td> -->
                  <td>{{ teacher.id }}</td>
                  <td>{{ teacher.name }}</td>
                  <td>{{ teacher.schoolName }}</td>
                  <td>{{ teacher.assignedSubject }}</td>
                  <td>{{ teacher.salary }}</td>
                  <td>{{ teacher.joiningDate }}</td> 
                  <td>{{ teacher.isHeadTeacher ? 'Yes' : 'No' }}</td>
                  <td>{{ teacher.isAggressive ? 'Yes' : 'No' }}</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm" (click)="openModal(teacher)">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm float-end" (click)="deleteTeacher(teacher.id)">Delete</button>
                  </td>
              </tr>
          }
      </tbody>
  </table>
</div>
