<div class="container mt-5 w-70">
    <h3>List of Users</h3>
    <hr/>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody id="tableBody">
            <tr>
                <td>Rasel</td>
                <td>27</td>
                <td>018</td>
                <td>Pollobi</td>
            </tr>
            <tr>
                <td>Rasel</td>
                <td>27</td>
                <td>018</td>
                <td>Pollobi</td>
            </tr>
            <tr>
                <td>Rasel</td>
                <td>27</td>
                <td>018</td>
                <td>Pollobi</td>
            </tr>
        </tbody>
    </table>
</div>