<div class="container mt-4">
    <h4>Pending Orders</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-primary">
            <tr>
                <th>Date</th>
                <th>Reference</th>
                <th>Customer</th>
                <th>Nb Items</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>2017-01-02 12:04:23</td><td>ltcbpe</td><td>Jessie Brown</td><td>1</td><td>$84.58</td></tr>
            <tr><td>2017-01-01 03:32:58</td><td>9i3lee</td><td>Polly Drake</td><td>1</td><td>$121.96</td></tr>
            <tr><td>2017-01-01 01:33:55</td><td>icff2v</td><td>Maria Murphy</td><td>6</td><td>$471.20</td></tr>
            <tr><td>2016-12-29 23:57:41</td><td>53sc8f</td><td>Jerry Douglas</td><td>1</td><td>$155.66</td></tr>
            <tr><td>2016-12-29 11:43:06</td><td>6pjgzd</td><td>Lora Morrison</td><td>1</td><td>$21.30</td></tr>
            <tr><td>2016-12-29 05:38:06</td><td>tfyfwk</td><td>Seth Bennett</td><td>7</td><td>$548.20</td></tr>
            <tr><td>2016-12-28 23:39:19</td><td>ydtcg1</td><td>Maria Murphy</td><td>2</td><td>$59.44</td></tr>
            <tr><td>2016-12-28 19:36:08</td><td>5wg6qg</td><td>Antonio Powell</td><td>2</td><td>$220.01</td></tr>
            <tr><td>2016-12-27 07:40:25</td><td>3nxwmv</td><td>Clifford Washington</td><td>2</td><td>$142.10</td></tr>
        </tbody>
    </table>
</div>