<div style="background-color: #ffffff; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;">
    <div class="container p-4 pt-0 pb-2 d-flex align-items-center gap-1 pt-2 justify-content-between">
        <!-- <i class="bi bi-stack fs-5"></i> -->
         <span class="d-flex">
            <i class="bi bi-caret-right-fill fs-5" style="color: #F49291;"></i>
            <h3 class="fs-4">{{headerTitle}}</h3>
         </span>
        <a href="/create-quiz" class="btn btn-primary" style="background-color: #F49291;border: none;">
            <i class="bi bi-plus-lg"></i> 
            Create New Quiz
        </a>
    </div>
</div>
